<?xml version="1.0"?>
<connectionStrings>
  <!-- ConnectionStrings.config contains all 3 main connection string categories are represented here, allowing easy future separation of databases. 
      1. MyDataConnection: Connection to traditional OLTP database, containing data and supporting schema. 
      2. MyCodeConnection: Connection to the database that serves source code applications, web services and web sites. Good to abstract away code from the physical database tables.
      3. MyLogConnection: Connection to the Log for audit logging, insert only, high disk space, low selects type logging databases.
      * Can use to fit needs, i.e. MyReportsConnection, MyCodeV2Connection, etc.-->
  <add name="MyCodeConnection" connectionString="data source=DatabaseServer.dev.GetFramework.local;initial catalog=FrameworkData;integrated security=True;multipleactiveresultsets=True;application name=GenesysFramework" />
  <add name="MyDataConnection" connectionString="data source=DatabaseServer.dev.GetFramework.local;initial catalog=FrameworkData;integrated security=True;multipleactiveresultsets=True;application name=GenesysFramework" />
  <add name="MyLogConnection" connectionString="data source=DatabaseServer.dev.GetFramework.local;initial catalog=FrameworkData;integrated security=True;multipleactiveresultsets=True;application name=GenesysFramework" />
  <!-- Test connection strings that have no real data -->
  <add name="TestEFConnection" connectionString="metadata=res://*/Test.csdl|res://*/Test.ssdl|res://*/Test.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=test.server.local;initial catalog=TestDB;integrated security=True;multipleactiveresultsets=True;application name=TestAppName&quot;" providerName="System.Data.EntityClient" />
  <add name="TestADOConnection" connectionString="Data Source=test.server.local;Initial Catalog=MyDB;user ID=TestUser;password=TestPassword;Connect Timeout=180;Application Name=TestAppName;" providerName="System.Data.EntityClient" />
</connectionStrings>
